# Everything needed in production

# Flask
Flask==0.10.1
MarkupSafe==0.23
Werkzeug==0.10.1
Jinja2==2.7.3
itsdangerous==0.24
gunicorn==19.2.1
Flask-OAuthlib==0.9.1
Flask-Assets==0.10
flask-marshmallow==0.4.0
Flask-Bcrypt==0.6.2
Flask-Login==0.2.11
Flask-Admin==1.1.0

# Database
Flask-SQLAlchemy==2.0
SQLAlchemy==0.9.8
psycopg2==2.6
SQLAlchemy-Searchable

# Migrations
git+https://github.com/miguelgrinberg/Flask-Migrate

# Forms
Flask-WTF==0.11
WTForms==2.0.2
Marshmallow
wtf==0.1

## Config
flask-appconfig==0.9.1

# Testing
pytest>=2.6.3
pytest-flask>=0.7.3
webtest

# Management script
Flask-Script

# Time Management
arrow

#Graph
git+https://github.com/gordonfierce/vincent
