<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
</head>
<body>
<div id="wrapper" class="units-container">
    <h1>Starry Night</h1>
    {% block header %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    {% endblock %}
    <a href=""
    {% block body %}{% endblock %}

    {% block footer %}
    {% endblock %}
</div>
</body>
</html>
