<a ng-click="vm.setInfo()" href="">info</a>
<a ng-click="vm.setActivity()" href="">activity</a>

<div>
	
	<div ng-show="vm.byInfo">

		<h2>username</h2>

		<div>
			<img src="" alt="">
			<div>
				<div class="account-info-links">
					<i>a</i>
					<input type="text">
				</div>
				<div class="account-info-links">
					<i>a</i>
					<input type="text">
				</div>
				<div class="account-info-links">
					<i>a</i>
					<input type="text">
				</div>
				<div class="account-info-links">
					<i>a</i>
					<input type="text">
				</div>
			</div>
		</div>

		<div>
			<div>
				<h4>GitHub Forks</h4>
				<h5>##</h5>
			</div>
			<div>
				<h4>Submitted Resources</h4>
				<h5>##</h5>
			</div>

		</div>






	</div>








	<div ng-show="!vm.byInfo">

	<h2>projects</h2>

	<a href="#/submit">Add New Project</a>

	<h3>featured</h3>











	</div>






</div>


