/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.home-set {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 41px; }

.home-set-a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  display: block;
  padding: 15px 6.7%;
  background: #ededed;
  cursor: pointer; }
  .home-set-a:hover {
    background: #f7f7f7; }

.home-set-a.active {
  box-shadow: 0px -4px 11px -3px #b8b8b8;
  background: #FFF; }

.home-set-a:first-of-type {
  margin-right: 4px; }

.home-set-a:last-of-type {
  margin-left: 4px; }

.home-set-section {
  margin: -50px 0 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  z-index: 3;
  position: absolute; }

.home-project-a-div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.home-project-a {
  padding: 4px 20px;
  text-decoration: none;
  background: #12897D; }

.home-project-search {
  width: 44.88%;
  height: 41px;
  background: #e1e1e1;
  border: 1px solid #d1d1d1; }

.home-project-search-div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.home-project-i-div {
  height: 41px;
  width: 5.51%;
  position: relative;
  background: #acabab; }
  .home-project-i-div i {
    position: absolute;
    right: 22px;
    top: 10px;
    color: #e1e1e1;
    font-size: 20px; }

.project-radio {
  visibility: hidden;
  position: absolute; }

.browse-heading {
  margin: 20px 0 18px;
  color: #888; }

.home-project-search input::-webkit-input-placeholder {
  color: #d1d1d1;
  font-size: 12px; }

.home-project-search input:-moz-placeholder {
  color: #d1d1d1; }

.home-project-search input::-moz-placeholder {
  color: #d1d1d1; }

.home-project-search input:-ms-input-placeholder {
  color: #d1d1d1; }

/*************************************************************
***** GENERAL *********
*************************************************************/
.home-project-li {
  width: 90%;
  background: lightgray;
  margin: 20px auto; }

.home-project-details-div {
  padding: .4em;
  display: none; }

.flex-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.home-project-basic-info-right {
  width: 50%; }

.project-links-div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-left;
  -ms-flex-pack: flex-left;
  justify-content: flex-left;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.projectname-user-div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.project-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.home-project-content-p {
  font-size: .6em; }

.home-project-a {
  margin: 0 1%; }

/******************** comment *******************************/
/*************************************************************
***** SHOW DETAILS *********
*************************************************************/
#names-details-checkbox {
  display: none; }

.home-project-basic-info-plus {
  cursor: pointer; }

#names-details-checkbox:checked ~ .home-project-details-div {
  display: block; }

/****************** PROJECT DETAILS *******************************/
.more-info-label {
  /*	float: right;*/
  text-align: right;
  margin-left: 70%;
  cursor: pointer; }

.fa-long-arrow-down {
  font-size: 70%; }

.more-info-input {
  visibility: hidden; }

.home-project-content {
  display: none; }

#more-info-pypi:checked ~ .home-project-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

#more-info-github:checked ~ .home-project-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/*// .home-project-details-div {
// 	padding: .4em;
// }*/
/*************************************************************
***** comment *********
*************************************************************/
.submit-span {
  cursor: pointer;
  color: blue; }

/******************** comment *******************************/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.yellow-bg {
  background: lightyellow; }

.pink-bg {
  background: lightpink; }

.green-bg {
  background: lightgreen; }

.gray-bg {
  background: lightgray; }

.coral-bg {
  background: #ffd8b2; }

body, html {
  height: 100%;
  width: 100%; }

.root-content {
  background: #FFF;
  z-index: 1;
  width: 100%;
  height: 90%;
  position: relative;
  box-shadow: 0px -3px 9px -3px #b8b8b8;
  font-family: 'Source Sans Pro', sans-serif; }

.full {
  width: 100%;
  height: 100%; }

.gray-overlay {
  position: absolute;
  height: 400px;
  width: 100%;
  top: 0;
  left: 0; }

/*body {
  font-family: sans-serif;
  line-height: 1.4em;
  background: $bg-color;
  color: $fg-color;
}

h1 { font-size: 2em; margin: .67em 0 }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6 {
  font-weight: bolder;
  line-height: 1.3em;
}

p {
  line-height: 1.4em;
  margin-bottom: 1em;
}

a {
  color: $alt-bold-color;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: $alt-accent-bg;
}

td {
  padding: 0.25em 0.5em;
}

input, textarea {
  font-size: 1em;
  border: 1px solid $input-border-color;
  padding: 0.25em;
}*/
header {
  width: 100%;
  height: 160px;
  background: linear-gradient(to right, #12897d 0%, rgba(5, 182, 134, 0.6) 68%, rgba(2, 192, 136, 0.75) 83%, rgba(2, 192, 136, 0.9) 99%), url("../img/background-01.png");
  color: white;
  z-index: 2;
  font-family: 'Source Sans Pro', sans-serif; }

.nav-right a {
  text-decoration: none;
  color: white;
  font-size: 16px; }
  .nav-right a:hover {
    color: black; }

.nav-logo-img {
  width: 60px;
  height: 60px; }

.nav-logo {
  margin: 23px 0 0 41px;
  width: 240px; }

.nav-logo a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 15px 0 0 5%; }

.nav-logo a h2 {
  margin-top: 20px; }

.nav-right {
  width: 36%;
  height: 30px;
  margin: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.nav-account {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.nav-login-a {
  display: none; }

.nav-search-bar {
  position: relative; }

.nav-search-bar input {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 1px 2px 3px; }

.nav-search-bar input::-webkit-input-placeholder {
  color: white;
  font-size: 12px; }

.nav-search-bar input:-moz-placeholder {
  color: white; }

.nav-search-bar input::-moz-placeholder {
  color: white; }

.nav-search-bar input:-ms-input-placeholder {
  color: white; }

.nav-search-bar i {
  font-size: 14px;
  position: absolute;
  top: 3px;
  right: 5px;
  color: white; }
