/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.yellow-bg {
  background: lightyellow; }

.pink-bg {
  background: lightpink; }

.green-bg {
  background: lightgreen; }

.gray-bg {
  background: lightgray; }

.coral-bg {
  background: #ffd8b2; }

body, html {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif; }

.root-content {
  z-index: 2;
  width: 100%;
  min-height: 100%;
  margin: -190px auto -117px;
  background: rgba(255, 255, 255, 0.77);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.77) 0%, #ffffff 190px, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 ); }
  .root-content a {
    text-decoration: none; }

b {
  font-weight: bold;
  margin-right: 2px; }

.full {
  width: 100%;
  height: 100%; }

.container-width {
  width: 80.47%;
  margin: 0 auto; }

.flex-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-start-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.submit-button {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 6px 24px;
  color: #12997e;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  border-radius: 0px;
  border: 1px solid #12997e;
  transition: all .2s;
  transition: color .05s;
  cursor: pointer; }
  .submit-button:hover {
    color: #ffffff;
    background: -moz-linear-gradient(top, #12997e 0%, #02c087);
    background: -webkit-gradient(linear, left top, left bottom, from(#12997e), to(#02c087));
    border: 1px solid #12997e;
    transition: all .2s;
    transition: color .05s; }

.search {
  background: #e1e1e1;
  border: 1px solid #d1d1d1; }
  .search:focus {
    outline: 0;
    border: 2px solid #acabab; }

.link {
  color: #12897D; }
  .link:hover {
    color: black; }

/*body {
  font-family: sans-serif;
  line-height: 1.4em;
  background: $bg-color;
  color: $fg-color;
}

h1 { font-size: 2em; margin: .67em 0 }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6 {
  font-weight: bolder;
  line-height: 1.3em;
}

p {
  line-height: 1.4em;
  margin-bottom: 1em;
}

a {
  color: $alt-bold-color;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: $alt-accent-bg;
}

td {
  padding: 0.25em 0.5em;
}

input, textarea {
  font-size: 1em;
  border: 1px solid $input-border-color;
  padding: 0.25em;
}*/
.home-set {
  text-align: center;
  padding-top: 41px; }

.home-set-a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  display: block;
  opacity: .6;
  min-width: 80px;
  text-align: center;
  padding: 15px 6.7%;
  background: #FFF;
  cursor: pointer; }

.home-set-a.active {
  opacity: .77;
  background: #FFF; }

.home-set-a:first-of-type {
  margin-right: 4px; }

.home-set-a:last-of-type {
  margin-left: 4px; }

.home-set-section {
  margin: -50px 0 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  z-index: 3;
  position: absolute; }

.home-project-a-div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.home-project-a {
  padding: 11px 0;
  margin: 0 1.165%;
  text-decoration: none;
  background: white;
  border: 2px solid #12897D;
  color: #12897D;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 19px;
  width: 26.02%;
  font-size: 18px;
  font-weight: bold; }

.projectActive {
  background: #12897D;
  color: white; }

.home-project-search-holder-div {
  width: 49.903%;
  height: 41px;
  position: relative; }

.home-project-search {
  width: 100%;
  height: 100%; }

.home-project-search-div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.home-project-i-div {
  height: 41px;
  width: 5.51%;
  position: relative;
  background: #acabab; }
  .home-project-i-div i {
    position: absolute;
    right: 40%;
    top: 10px;
    color: #e1e1e1;
    font-size: 20px; }

.home-project-search-div p {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 20px;
  color: #acabab; }

.home-project-search::-webkit-input-placeholder {
  padding: 0 0 6px;
  color: #acabab;
  font-size: 20px; }

.home-project-search:-moz-placeholder {
  color: #d1d1d1;
  font-size: 20px; }

.home-project-search::-moz-placeholder {
  color: #d1d1d1;
  font-size: 20px; }

.home-project-search:-ms-input-placeholder {
  color: #d1d1d1;
  font-size: 20px; }

.project-radio {
  visibility: hidden;
  position: absolute; }

.home-project-filter .fa-dot-circle-o, .home-project-filter .fa-circle-o {
  font-size: 24px; }

.browse-heading {
  margin: 26px 0 28px;
  color: #888; }

.home-project-filter {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 62%;
  margin: 34px auto; }

.home-project-filter label {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.home-project-filter p {
  margin-top: 4px;
  margin-left: 6px;
  font-weight: 300; }

.pagination {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.pagination-div {
  text-align: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 41px; }

.pagination-div p {
  margin: 13px 28px 0 0;
  font-size: 20px; }

.pagination li {
  margin: 0 1px;
  height: 35px;
  width: 48px;
  background: #e1e1e1;
  font-weight: 700;
  font-size: 20px;
  padding-top: 13px;
  color: black; }
  .pagination li a i.fa {
    font-size: 18px; }
  .pagination li.active {
    background: #12897D;
    color: white; }
    .pagination li.active a {
      color: white; }
  .pagination li a {
    color: black;
    margin: 17px; }

li.number-li a {
  margin-left: 18px; }

.home-project-li {
  width: 100%;
  background: #e1e1e1;
  margin: 13px auto; }

.home-project-li a {
  color: #12897D; }
  .home-project-li a:hover {
    color: black; }

.home-project-name {
  margin: 23px 0 0 27px;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 600; }
  .home-project-name a {
    color: black; }
    .home-project-name a:hover {
      color: #12897D; }

.project-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.home-project-basic-info {
  height: 79px; }

.home-project-basic-info-icon {
  margin-top: 28px; }
  .home-project-basic-info-icon i {
    color: #12897D; }

.home-project-basic-info-comment i {
  margin-top: -1px; }

.home-project-basic-info-check {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.home-project-basic-info-check i {
  padding-top: 1px; }

.home-project-basic-info-right {
  width: 42%;
  margin-right: 25px;
  font-size: 24px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .home-project-basic-info-right .fa {
    margin-right: 5px;
    transition: all .2s; }

.home-project-details-div {
  padding-bottom: 1px;
  opacity: 0;
  height: 0;
  background: transparent;
  width: 97.38%;
  margin: 0 auto; }

.home-project-content-p {
  font-size: 12px;
  font-weight: 700;
  text-align: left; }

.home-project-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.home-project-content-gh {
  display: none; }

.more-info-label {
  text-align: right;
  cursor: pointer;
  font-size: 18px;
  font-spacing: 2px;
  font-weight: 600;
  color: #12897D; }

.more-info-label i.fa {
  font-weight: 600;
  font-size: 20px; }

.home-project-content-sizer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.home-project-content-div {
  font-weight: 300;
  font-size: 18px; }

.home-project-content-div:first-of-type {
  text-align: left; }

.home-project-details {
  background: white;
  margin: 13px auto;
  padding: 28px 20px 28px; }

.home-project-header-top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 26px;
  margin-bottom: 26px; }

.home-project-header-top > a.link > i {
  margin-right: 3px;
  color: #12897D; }

.home-project-header-top > h3 {
  margin-right: 14px; }

.home-project-header-top a.link {
  margin-top: 6px;
  font-size: 18px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 120px; }
  .home-project-header-top a.link:hover {
    color: black; }
    .home-project-header-top a.link:hover i {
      color: black; }

.home-project-header-top a.link p {
  text-decoration: underline; }

.home-project-header-bottom {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 22px;
  font-weight: 300; }

.home-project-header-bottom-pypi {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: left; }

.home-project-content-header {
  margin-bottom: 10px;
  font-size: 16px; }

.home-project-links {
  margin-top: 0;
  height: 27px;
  color: #12897D;
  font-size: 22px;
  padding-top: 28px; }

.home-project-links-div-sizer {
  width: 100%;
  margin: 0 auto;
  font-weight: 300; }

.home-project-links a.link {
  text-decoration: underline; }

.home-project-links-div i.fa {
  margin-right: 6px; }
  .home-project-links-div i.fa:hover ~ a {
    color: black; }

.home-project-links-div:hover {
  color: black; }
  .home-project-links-div:hover a {
    color: black; }

.home-project-links-div:last-of-type {
  margin-right: 40px; }

.home-project-header-bottom-downloads {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px; }

.home-project-header-bottom-downloads h5 {
  margin-left: 10px; }

.home-project-content-pypi {
  margin-top: 20px; }

.home-project-content-div-gh {
  text-align: left; }

.gray-line {
  height: 2px;
  width: 100%;
  background: #e1e1e1;
  margin: 26px auto; }

.names-details-checkbox {
  visibility: hidden;
  position: absolute; }

.home-project-basic-info-plus {
  cursor: pointer; }

.names-details-checkbox:checked ~ .home-project-details-div {
  opacity: 1;
  height: 100%; }

.more-info-input {
  visibility: hidden;
  position: absolute; }

.gh-checkbox {
  visibility: hidden;
  position: absolute; }

.gh-checkbox:checked ~ .home-project-content-gh {
  display: block; }

.project-info {
  background: #e1e1e1;
  margin-top: 24px; }

.project a {
  color: #12897D; }

.project {
  margin-bottom: 13px; }

.project-details-div {
  padding: 10px 0 1px;
  background: transparent;
  width: 97.38%;
  margin: 0 auto; }

.graph {
  width: 100%;
  margin: 0 auto;
  background: lightpink;
  height: 150px; }

.project-header {
  margin-top: 13px; }

.projectname-user-div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 70px; }

.project-links-div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-left;
  -ms-flex-pack: flex-left;
  justify-content: flex-left;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 20px; }

.project-links-div a {
  margin-right: 3px; }

.projectname-user-div h1 {
  text-transform: capitalize;
  font-size: 32px; }

.projectname-user-div h3 {
  margin-top: 5px;
  font-size: 16px; }

.project-details {
  margin: 24px 0 26px;
  width: 100%;
  font-size: 18px; }

.home-project-basic-info-icon-gh {
  margin-top: 13px; }

.comments {
  margin-top: 41px;
  width: 100%; }

.comments-header-div {
  font-size: 26px; }
  .comments-header-div i.fa {
    margin-right: 13px;
    font-size: 26px; }

.comments-ul {
  margin: 28px 0; }
  .comments-ul li {
    margin: 13px 0;
    width: 100%; }
    .comments-ul li img {
      margin-right: 13px;
      height: 70px;
      width: 70px;
      float: left; }

.comment-content {
  padding: 10px 0 13px 13px;
  background: #e1e1e1;
  width: 100%;
  margin: -70px 13px 0 83px;
  float: right; }

.comment-content-heading {
  font-size: 18px; }
  .comment-content-heading p:first-of-type {
    font-weight: 700;
    margin-right: 5px; }

.comment-content-section {
  margin-top: 8px; }

.comment-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative; }
  .comment-form input.submit-button {
    position: absolute;
    right: 13px;
    top: 88px; }

.comment-form-textarea {
  margin: 0 13px 0 83px;
  height: 60px; }
  .comment-form-textarea:focus {
    background: white;
    border: 1px solid #e1e1e1; }

.account-set {
  padding-top: 41px;
  position: relative; }

.account-set a {
  color: #12897D; }
  .account-set a:hover {
    color: black; }

.edit-div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  top: 41px;
  right: 13px;
  color: #12897D; }
  .edit-div:hover {
    color: black; }

.edit-div p {
  margin-right: 10px; }

.account-set h2 {
  font-size: 32px; }

.account-links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 28px; }

.account-links img {
  margin: 13px 13px 13px 0; }

.account-links-div {
  font-size: 22px; }

.account-info-links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: left;
  margin: 13px 0; }

.account-info-links i {
  margin-right: 10px; }

.account-info-numbers {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 28px;
  font-size: 28px;
  text-align: center; }

.account-info-numbers h5 {
  text-align: left; }

.account-info-numbers div:first-of-type {
  margin-right: 30%; }

.file-maker {
  position: absolute;
  visibility: hidden; }

.file-link {
  margin-top: 13px;
  cursor: pointer;
  width: 130px; }

.account-links-edit {
  padding-top: 41px; }

.account-links-div {
  margin-top: 28px; }

.account-links-edit {
  padding-top: 0; }

.edit-img-div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 41px; }

.account-info-links input {
  width: 300px; }

.account-links-edit .submit-button {
  margin: 28px 0; }

.activity-li {
  background: #e1e1e1; }

h2.activity-header {
  margin-top: 80px;
  font-size: 40px;
  margin-bottom: 13px; }

.activity-ul-submitted {
  margin-bottom: 100px; }

.activity-subheader {
  margin: 41px 0 28px;
  font-size: 32px;
  font-weight: 700; }

.new-project-a {
  font-size: 18px; }

.new-project-a div {
  margin-top: 13px;
  float: right; }
  .new-project-a div:hover {
    color: black; }

.new-project-a div i.fa {
  margin-left: 6px; }

.project-details-div-account {
  padding-top: 0; }

.home-project-name-account a, .home-project-name a {
  color: black; }
  .home-project-name-account a:hover, .home-project-name a:hover {
    color: #12897D; }

.submit-span {
  cursor: pointer;
  color: blue; }

.submit-wrapper {
  padding-top: 41px; }

.submit-wrapper .submit-button {
  margin-top: 28px; }

.new-input-div {
  margin-bottom: 13px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.new-input-div p {
  width: 110px; }

.new-input-div input {
  width: 200px;
  height: 15px; }
  .new-input-div input:focus {
    background: white;
    border: 1px solid #e1e1e1; }

.new-project-heading {
  margin-bottom: 28px;
  font-size: 24px;
  font-weight: 600; }

.pending-project-ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.pending-project-li {
  background: #e1e1e1;
  width: 44%;
  margin-bottom: 4%;
  padding: 2%;
  position: relative; }

.pending-div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .pending-div:last-of-type h6 {
    margin-bottom: 2%; }

.pending-div h6 {
  width: 120px;
  margin-bottom: 4%;
  font-size: 14px; }

.edit-div-submit {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  top: 4%;
  right: 4%; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

header {
  width: 100%;
  height: 350px;
  background: linear-gradient(to right, #12897d 0%, rgba(5, 182, 134, 0.5) 68%, rgba(2, 192, 136, 0.68) 83%, rgba(2, 192, 136, 0.9) 99%), url("../img/background-01.png");
  color: white;
  z-index: 1;
  font-family: 'Source Sans Pro', sans-serif; }

.nav-right a {
  text-decoration: none;
  color: white;
  font-size: 16px; }
  .nav-right a:hover {
    color: black; }

.nav-logo-img {
  width: 70px;
  height: 70px; }

.nav-logo {
  margin: 23px 0 0 41px;
  width: 280px; }

.nav-logo a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  letter-spacing: 3px;
  font-size: 18px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 15px 0 0 5%;
  font-weight: bold; }

.nav-logo a h2 {
  margin-top: 26px; }

.nav-right {
  width: 375px;
  height: 30px;
  margin: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.nav-account {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.nav-search-bar {
  position: relative; }

.nav-search-bar input {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 1px 2px 3px; }

.nav-search-bar input::-webkit-input-placeholder {
  color: white;
  font-size: 12px; }

.nav-search-bar input:-moz-placeholder {
  color: white; }

.nav-search-bar input::-moz-placeholder {
  color: white; }

.nav-search-bar input:-ms-input-placeholder {
  color: white; }

.nav-search-bar i {
  font-size: 14px;
  position: absolute;
  top: 3px;
  right: 5px;
  color: white; }

.push {
  height: 55%; }

footer {
  height: 117px;
  width: 100%;
  background: #343333;
  z-index: 10;
  color: white; }

.footer-div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

footer a {
  margin-left: 30px;
  color: white;
  text-decoration: none; }
  footer a:hover {
    color: #12897D; }

.footer-links {
  margin: 51px 48px 0 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-weight: 300;
  font-size: 14px; }

.footer-links-github {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.footer-links-github i {
  margin-right: 4px; }

.footer-links-github p {
  text-decoration: underline; }

.donate-button {
  margin: 35px 0 0 48px;
  border: 2px solid white;
  background: transparent;
  color: white;
  width: 264px;
  height: 44px;
  font-size: 18px;
  letter-spacing: 2px; }
  .donate-button:hover {
    color: #343333;
    background: white;
    cursor: pointer;
    transition: all .3s;
    transition: color .1s; }
  .donate-button:focus {
    outline: 0; }

.home-group-basic-info-right {
  width: 16%; }

.home-project-basic-info-group {
  width: 99%;
  background: white;
  margin: 0 auto; }

.home-project-details-div-li {
  margin-bottom: 13px; }

.home-project-basic-info-right-group-details {
  width: 42%; }

.home-project-basic-info-right-group-details .home-project-basic-info-score {
  margin-right: 25px; }

.home-group-basic-info-right-category {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.home-project-details-div-li-cat {
  background: white; }
