<div class="home-project-search-div">
	<div class="home-project-search-holder-div">
		<input ng-click="vm.checkSearch()" ng-model="searchText.name" ng-keyup="vm.searchChange()" class="home-project-search search" type="search">
		<p ng-click="vm.checkSearch()" ng-show="vm.searchClicked" for="search-projects-checkbox">Search</p>
	</div>
	<div class="home-project-i-div">
		<i class="fa fa-search"></i>
	</div>
</div>

<!-- <div class="home-project-filter">
	<label for="hp-filter-popular">
		<input class="project-radio" id="project-popular-radio" name="filter" type="radio" checked />
		<i ng-click="hp.setPopular()" class="fa fa-dot-circle-o"></i>
		<p>Popular</p>
	</label>
	<label for="hp-filter-newest">
		<input class="project-radio" id="project-newest-radio" name="filter" type="radio">
		<i ng-click="hp.setNewest()" class="fa fa-circle-o"></i>
		<p>Newest</p>
	</label>
	<label for="hp-filter-trending">
		<input class="project-radio" id="project-trending-radio" name="filter" type="radio">
		<i ng-click="hp.setTrending()" class="fa fa-circle-o"></i>
		<p>Trending</p>		
	</label>
	<label class="hp-filter-list" for="hp-filter-list">
		<input class="project-radio" id="project-list-radio" name="filter" type="radio" checked>
		<i ng-click="hp.setList()" class="fa fa-dot-circle-o"></i>
		<p>List (A-Z)</p>		
	</label>
</div> -->