<input class="names-details-checkbox" type="checkbox">

<div class="home-project-basic-info flex-row">
	<h4 class="home-project-name"><a href="#/home/groups/{{group.id}}">{{group.name}}</a></h4>
	<div class="home-project-basic-info-right home-group-basic-info-right">
		<div class="home-project-basic-info-icon home-project-basic-info-score"><i class="fa fa-calculator"></i></i>{{group.average_score}}</div>
		<i ng-class="{'fa-times' : !hp.rotate, 'fa-plus': hp.rotate}" ng-click="hp.checkBox()" class="home-project-basic-info-icon home-project-basic-info-plus fa"></i>
	</div>
</div>






<!-- <div class="home-project-basic-info flex-row">
	<h4>group</h4>
	<h5>view group page</h5>
	<div class="home-project-basic-info-right flex-row">
		<div class="home-project-basic-info-score">score</div>
		<div class="home-project-basic-info-more">+</div>
	</div>
</div> -->
<ul class="home-project-details-div">
	<li ng-repeat="project in group.projects" class="home-project-details-div-li">
		<group-details-projects></group-details-projects>
	</li>
</ul>