<div class="home-project-basic-info home-project-basic-info-group flex-row">
	<h4 class="home-project-name"><a ng-click="vm.setPage()" href="#/home/projects/{{project.id}}">{{project.name}}</a></h4>
	<div class="home-project-basic-info-right home-project-basic-info-right-group-details">
		<div class="home-project-basic-info-icon home-project-basic-info-like"><i ng-click="vm.like(project, project.show_likes)" ng-class="{ 'fa-heart' : vm.checkLike(project), 'fa-heart-o' : !vm.checkLike(project) }" class="fa"></i><p>{{project.show_likes.length || 0}}</p></div>
		<a ng-click="vm.setCommentPage()" href="#/home/projects/{{project.id}}"><div class="home-project-basic-info-icon home-project-basic-info-comment"><i class="fa fa-comment-o"></i>{{project.show_comments.length || 0}}</div>
		<a href="{{project.pypi_url}}"><div class="home-project-basic-info-icon home-project-basic-info-check"><i ng-class="{ 'fa-check-square-o' : project.python_three_compatible, 'fa-square-o' : !project.python_three_compatible }" class="fa"></i><p>Py3</p></div></a>
		<a href="#/home/projects/{{project.id}}"><div class="home-project-basic-info-icon home-project-basic-info-score"><i class="fa fa-line-chart"></i></i>{{project.score}}</div></a>
	</div>
</div>