<div class="home-filters-div">
	<div class="home-filters-child home-project-search-div">
		<div class="home-project-search-holder-div">
			<input ng-click="hp.checkSearch()" ng-model="searchText.name" ng-keyup="vm.searchChange()" class="home-project-search search" type="search">
			<p ng-click="hp.checkSearch()" ng-show="hp.searchClicked" for="search-projects-checkbox">Search {{hp.navSearcher}}</p>
		</div>
		<div class="home-project-i-div">
			<i class="fa fa-search"></i>
		</div>
	</div>
	<h6 class="home-filters-child browse-heading">or browse by filter below</h6>
	<div class="home-filters-child home-project-a-div">
		<a class="home-project-a home-project-a-name" ng-class="{ projectActive: hp.byNames }" ng-click="hp.setNames()" href="">by name</a>
		<a class="home-project-a home-project-a-group" ng-class="{ projectActive: !hp.byNames }" ng-click="hp.setGroups()" href="">by group</a>
	</div>
	<div ng-class="{ hfGroup : !hp.byNames }" class="home-filters-child home-project-filter">
		<label ng-click="hp.setPopular()" for="hp-filter-popular">
			<input class="project-radio" id="project-popular-radio" name="filter" type="radio" checked />
			<i class="fa fa-dot-circle-o"></i>
			<p>Popular</p>
		</label>
		<label ng-click="hp.setNewest()" ng-show="hp.byNames" for="hp-filter-newest">
			<input class="project-radio" id="project-newest-radio" name="filter" type="radio">
			<i class="fa fa-circle-o"></i>
			<p>Newest</p>
		</label>
		<label ng-click="hp.setList()" for="hp-filter-list">
			<input class="project-radio" id="project-list-radio" name="filter" type="radio">
			<i class="fa fa-circle-o"></i>
			<p>List (A-Z)</p>
		</label>
	</div>
</div>