

<!-- <div class="new-input-div">
	<p>Name</p>
	<input ng-model="vm.newProject.name" class="search" type="text" placeholder="Enter project name">
</div> -->
<div class="new-input-div">
	<p>Git URL</p>
	<input ng-model="vm.newProject.git_url" class="search" type="url" placeholder="Enter a URL">
</div>
<!-- <div class="new-input-div">
	<p>Bitbucket URL</p>
	<input ng-model="vm.newProject.git_url" class="search" type="url" placeholder="Enter a URL">
</div> -->
<div class="new-input-div">
	<p>PyPi URL</p>
	<input ng-model="vm.newProject.pypi_url" class="search" type="url" placeholder="Enter a URL">
</div>
<!-- <div class="new-input-div">
	<p>Website</p>
	<input ng-model="vm.newProject.website" class="search" type="url" placeholder="Enter a URL">
</div> -->
<div class="new-input-div">
	<p>PyPi Documenation</p>
	<input ng-model="vm.newProject.docs_url" class="search" type="url" placeholder="Enter a URL">
</div>
<!-- <div class="new-input-div">
	<p>Source Code</p>
	<input class="search" type="url" placeholder="Enter a URL">
</div> -->
<div class="new-input-div">
	<p>Mailing List</p>
	<input ng-model="vm.newProject.mailing_list_url" class="search" type="url" placeholder="Enter a URL">
</div>
<!-- <div class="new-input-div">
	<p>Category</p>
	<select ng-model="vm.newProject.category_id" >
		<option ng-repeat="category in vm.categories" value="{{category.id}}">{{category.name}}</option>
	</select>
</div> -->
<!-- <div class="new-input-div">
	<p>Group</p>
	<select>
		<option value="{{user.id}}">support</option>
	</select>
</div> -->
<!-- <div class="new-input-div">
	<p>Comments:</p>
	<input ng-model="vm.newProject.comments" class="search" type="textarea" placeholder="Anything else we should know?">
</div> -->