/////////////////////////////////////////////////////////////
// GENERAL
/////////////////////////////////////////////////////////////

.home-group-basic-info-right-category {
	// width: 1%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.home-project-details-div-li-cat {
	background: white; 
}

.home-project-name {
	a.category-details-link {
		color: $base-color;
		&:hover {
			color: black; 
		} 
	}	
}

.hp-filter-list {
	margin: 0 auto;
}

.cat-push {
	width: 100%;
	height: 1200px;
}

.category-ul {
	margin-top: 41px; 
}



/////////////// COMMENT /////////////////////////////////////