$bg-color: white;
$fg-color: #444;
$input-border-color: #DDD;
$alt-bg-color: #F4F4F4;

$bold-color: #E84E01;
$alt-bold-color: #4F9EE5;

$accent-color: #6067B0;
$accent-color-dark: #4d5196;
$alt-accent-bg: #54CC14;
$alt-accent-fg: white;
$alt-accent-bg-dark: #44B209;
