.yellow-bg {
  background: lightyellow; 
}

.pink-bg {
  background: lightpink; 
}

.green-bg {
  background: lightgreen; 
}

.gray-bg {
  background: lightgray; 
}

.coral-bg {
  background: #ffd8b2; 
}

body,
html {
  height: 100%;
  width: 100%;
}

.root-content {  
  z-index: 2; 
  width: 100%;
  height: 90%;
  position: absolute;
  box-shadow: 0px -3px 9px -3px #b8b8b8;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 160px; 
  background: rgba(255,255,255,0.77);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.77) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.77)), color-stop(19%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.77) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0.77) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0.77) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.77) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.full {
  width: 100%;
  height: 100%;
}

.gray-overlay {
  position: absolute;
  height: 400px;
  width: 100%;
  top: 0;
  left: 0;
// background: rgba(214,214,214,0.21);
// background: -moz-linear-gradient(top, rgba(214,214,214,0.21) 0%, rgba(214,214,214,0.13) 71%, rgba(214,214,214,0) 100%);
// background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(214,214,214,0.21)), color-stop(71%, rgba(214,214,214,0.13)), color-stop(100%, rgba(214,214,214,0)));
// background: -webkit-linear-gradient(top, rgba(214,214,214,0.21) 0%, rgba(214,214,214,0.13) 71%, rgba(214,214,214,0) 100%);
// background: -o-linear-gradient(top, rgba(214,214,214,0.21) 0%, rgba(214,214,214,0.13) 71%, rgba(214,214,214,0) 100%);
// background: -ms-linear-gradient(top, rgba(214,214,214,0.21) 0%, rgba(214,214,214,0.13) 71%, rgba(214,214,214,0) 100%);
// background: linear-gradient(to bottom, rgba(214,214,214,0.21) 0%, rgba(214,214,214,0.13) 71%, rgba(214,214,214,0) 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#d6d6d6', GradientType=0 );
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*body {
  font-family: sans-serif;
  line-height: 1.4em;
  background: $bg-color;
  color: $fg-color;
}

h1 { font-size: 2em; margin: .67em 0 }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6 {
  font-weight: bolder;
  line-height: 1.3em;
}

p {
  line-height: 1.4em;
  margin-bottom: 1em;
}

a {
  color: $alt-bold-color;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: $alt-accent-bg;
}

td {
  padding: 0.25em 0.5em;
}

input, textarea {
  font-size: 1em;
  border: 1px solid $input-border-color;
  padding: 0.25em;
}*/

// button {
//   display: inline-block;
//   padding: 0.25em 0.75em;
//   border: 0;
//   background: $alt-accent-bg;
//   color: $alt-accent-fg;
//   font-size: 1em;
// }
