.yellow-bg {
  background: lightyellow; 
}

.pink-bg {
  background: lightpink; 
}

.green-bg {
  background: lightgreen; 
}

.gray-bg {
  background: lightgray; 
}

.coral-bg {
  background: #ffd8b2; 
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.root-content {  
  z-index: 2; 
  width: 100%;
  min-height: 100%;
  margin: -190px auto -117px;
  // position: absolute;
  background: rgba(255,255,255,0.77);
  // background: -moz-linear-gradient(top, rgba(255,255,255,0.77) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,1) 100%);
  // background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.77)), color-stop(19%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  // background: -webkit-linear-gradient(top, rgba(255,255,255,0.77) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,1) 100%);
  // background: -o-linear-gradient(top, rgba(255,255,255,0.77) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,1) 100%);
  // background: -ms-linear-gradient(top, rgba(255,255,255,0.77) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.77) 0%, rgba(255,255,255,1) 190px, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
  a {
    text-decoration: none;
  }
}

b {
  font-weight: bold;
  margin-right: 2px;  
}

.full {
  width: 100%;
  height: 100%;
}

.container-width {
  width: 80.47%;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-start-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.submit-button {
  font-size: 16px;
  font-weight: 700; 
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 6px 24px;
  color: #12997e;
  background: -moz-linear-gradient(
  top,
  #ffffff 0%,
  #ffffff);
  background: -webkit-gradient(
  linear, left top, left bottom,
  from(#ffffff),
  to(#ffffff));
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #12997e;
  transition: all .2s;
  transition: color .05s;
  cursor: pointer;
  &:hover {
    color: #ffffff;
    background: -moz-linear-gradient(
      top,
      #12997e 0%,
      #02c087);
    background: -webkit-gradient(
      linear, left top, left bottom,
      from(#12997e),
      to(#02c087));
    border: 1px solid #12997e;
    transition: all .2s;
    transition: color .05s;
  }
}

.search {
  background: $light-gray;
  border: 1px solid $gray;
  // &.ng-dirty {
  //  border: 51px solid $dark-gray;
  // }
  &:focus {
    outline: 0;
    border: 2px solid $dark-gray;
  }
}

.link {
  color: $base-color;
  &:hover {
    color: black;
  } 
}

/*body {
  font-family: sans-serif;
  line-height: 1.4em;
  background: $bg-color;
  color: $fg-color;
}

h1 { font-size: 2em; margin: .67em 0 }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6 {
  font-weight: bolder;
  line-height: 1.3em;
}

p {
  line-height: 1.4em;
  margin-bottom: 1em;
}

a {
  color: $alt-bold-color;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: $alt-accent-bg;
}

td {
  padding: 0.25em 0.5em;
}

input, textarea {
  font-size: 1em;
  border: 1px solid $input-border-color;
  padding: 0.25em;
}*/

// button {
//   display: inline-block;
//   padding: 0.25em 0.75em;
//   border: 0;
//   background: $alt-accent-bg;
//   color: $alt-accent-fg;
//   font-size: 1em;
// }
