body {
  font-family: sans-serif;
  line-height: 1.4em;
  background: $bg-color;
  color: $fg-color;
}

h1 { font-size: 2em; margin: .67em 0 }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6 {
  font-weight: bolder;
  line-height: 1.3em;
}

p {
  line-height: 1.4em;
  margin-bottom: 1em;
}

a {
  color: $alt-bold-color;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: $alt-accent-bg;
}

td {
  padding: 0.25em 0.5em;
}

input, textarea {
  font-size: 1em;
  border: 1px solid $input-border-color;
  padding: 0.25em;
}

button {
  display: inline-block;
  padding: 0.25em 0.75em;
  border: 0;
  background: $alt-accent-bg;
  color: $alt-accent-fg;
  font-size: 1em;
}
