/////////////////////////////////////////////////////////////
// GENERAL
/////////////////////////////////////////////////////////////

.home-group-basic-info-right {
	width: 18%;
}

.home-project-basic-info-group {
	width: 99%;
	background: white; 
	margin: 0 auto;
}

.home-project-details-div-li {
	margin-bottom: 13px;
}

.home-project-basic-info-right-group-details {
	width: 42%;
}

.home-project-basic-info-right-group-details .home-project-basic-info-score {
	margin-right: 25px; 
}

// .home-project-li-group {
// 	margin: 0 auto;
// }

.group-container .project-header .home-project-basic-info-right .group-page-icon {
	i.fa {
		cursor: initial;
		color: black;	
	}
	i.fa-calculator {
		color: $base-color;
		cursor: pointer; 
	} 
}















/////////////// COMMENT /////////////////////////////////////











