/////////////////////////////////////////////////////////////
// GENERAL
/////////////////////////////////////////////////////////////

.home-set {
	text-align: center;
	padding-top: 41px; 
}

/////////// TABS ////////////////////////////////

.home-set-a {
	// box-shadow: 0px -3px 7px -3px #b8b8b8;
	font-size: 20px; 
	// float: left;
	text-decoration: none;
	color: black; 
    display: block;
    opacity: .6; 
    min-width: 80px;
    text-align: center;
    padding: 15px 6.7%;
    // font-size: 20px;
    // font-weight: normal;
    // text-transform: uppercase;
    background: $tab-color;
    cursor: pointer;
}

.home-set-a.active {
	opacity: .77; 
	background: $bg-color;
}

.home-set-a:first-of-type {
	margin-right: 4px; 
}

.home-set-a:last-of-type {
	margin-left: 4px; 
}

.home-set-section {
	margin: -50px 0 0; 
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	z-index: 3;
	position: absolute;
}

/////////////////////////////////////////////////////////////
// SEARCH AND FILTERS
/////////////////////////////////////////////////////////////

// by name or group
.home-project-a-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.home-project-a {
	padding: 11px 0;
	margin: 0 1.165%;
	text-decoration: none;
	background: white;
	border: 2px solid $base-color;
	color: $base-color;  
	text-transform: uppercase;
	letter-spacing: 2px;
	height: 19px;
	width: 26.02%;
	font-size: 18px; 
	font-weight: bold; 
}

.projectActive {
	background: $base-color; 
	color: white;  
}

.home-project-search-holder-div {
	width: 89.06%;
	height: 41px;
	position: relative;
}

.home-project-search {
	width: 100%;
	height: 100%;
}

.home-project-search-div {
	width: 55.34%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.home-project-i-div {
	height: 41px;
	width: 10.94%;
	// position: relative;
	background: $dark-gray;
	i {
		// position: absolute;
		margin-top: 10px; 
		color: $light-gray; 
		font-size: 20px; 
	}
}

.home-project-search-div p {
	position: absolute;
	top: 10px;
	left: 20px;
	font-size: 20px;
	color: $dark-gray;  
}

/////////// SEARCH BAR PLACEHOLDER ////////////////////////////////

.home-project-search::-webkit-input-placeholder {
	padding: 0 0 6px;
	color: $dark-gray; 
	font-size: 20px; 
}

.home-project-search:-moz-placeholder { 
   color: $gray;  
   font-size: 20px; 
}

.home-project-search::-moz-placeholder {  
   color: $gray; 
   font-size: 20px; 
}

.home-project-search:-ms-input-placeholder {  
   color: $gray;   
   font-size: 20px; 
}

/////////// FILTER ////////////////////////////////

.project-radio {
	visibility: hidden;
	position: absolute;
}

.home-project-filter .fa-dot-circle-o,
.home-project-filter .fa-circle-o, {
	font-size: 24px;  
}

.browse-heading {
	margin: 26px 0 28px; 
	color: $gray-text;
}

.home-project-filter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 62%;
	margin: 34px auto;
}

.home-project-filter label {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.home-project-filter p {
	margin-top: 4px; 
	margin-left: 6px;
	font-weight: 300;  
}

/////////////////////////////////////////////////////////////
// PAGINATION
/////////////////////////////////////////////////////////////

.pagination {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.pagination-div {
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: 41px; 
}

.pagination-div p {
	margin: 13px 28px 0 0; 
	font-size: 20px; 
}

.pagination li {
	margin: 0 1px; 
	height: 35px;
	width: 48px;
	background: $light-gray;
	font-weight: 700;
	font-size: 20px;
	padding-top: 13px; 
	color: black; 
	a i.fa {
		font-size: 18px; 
	}  
	&.active {
		background: $base-color; 
		color: white; 
		a {
			color: white; 
		}
	} 
	a {
		color: black;
		margin: 17px;
		  
	}
}

li.number-li a {
	margin-left: 18px; 
}





















