/////////////////////////////////////////////////////////////
// GENERAL
/////////////////////////////////////////////////////////////

.home-project-li {
	width: 100%;
	background: $light-gray;
	margin: 13px auto; 
}

.home-project-li a {
	color: $base-color;
	&:hover {
		color: black; 
	} 
}

// .home-project-basic-info-right i.rotate-plus {
// 	transform: rotate(45deg) translate(-90%, 25%);
// 	transition: all .2s;
// 	margin-right: -5px;  
// }

/////////////// COMMENT /////////////////////////////////////

/////////////////////////////////////////////////////////////
// HEADING
/////////////////////////////////////////////////////////////

.home-project-name {
	margin: 23px 0 0 27px; 
	font-size: 30px; 
	text-transform: capitalize;
	font-weight: 600; 
	a {
		color: black;
		&:hover {
			color: $base-color; 
		}		
	}
}

.project-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.home-project-basic-info {
	height: 79px;
}

.home-project-basic-info-icon {
	margin-top: 28px; 
	i {
		color: $base-color; 
	}
}

.home-project-basic-info-comment i {
	margin-top: -1px; 
}

.home-project-basic-info-check {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap; 
}

.home-project-basic-info-check i {
	padding-top: 1px; 
}

.home-project-basic-info-right {
	width: 42%;
	margin-right: 25px; 
	font-size: 24px; 
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	.fa {
		margin-right: 5px; 
		transition: all .2s;	
	}
}

/////////////////////////////////////////////////////////////
// DETAILS
/////////////////////////////////////////////////////////////

.home-project-details-div {
	padding-bottom: 1px; 
	opacity: 0; 
	height: 0;
	background: transparent;
	width: 97.38%;
	margin: 0 auto;   
}

.home-project-content-p {
	font-size: 12px;
	font-weight: 700; 
	text-align: left;
}

.home-project-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.home-project-content-gh {
	display: none;
}

.more-info-label {
	text-align: right;
	cursor: pointer;
	font-size: 18px; 
	font-spacing: 2px; 
	font-weight: 600; 
	color: $base-color; 
}

.more-info-label i.fa {
	font-weight: 600;
	font-size: 20px;  
}

.home-project-content-sizer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

.home-project-content-div {
	font-weight: 300;
	font-size: 18px;  
}

.home-project-content-div:first-of-type {
	text-align: left;
}

/////////////////////////////////////////////////////////////
// THREE BLOCK DETAILS
/////////////////////////////////////////////////////////////

.home-project-details {
	// width: 100%;
	background: white; 
	margin: 13px auto;
	padding: 28px 20px 28px; 
}

.home-project-header-top {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	font-size: 26px; 
	margin-bottom: 26px; 
}

.home-project-header-top > a.link > i {
	margin-right: 3px; 
	color: $base-color; 
}

.home-project-header-top > h3 {
	margin-right: 14px; 
}

.home-project-header-top a.link {
	margin-top: 6px; 
	font-size: 18px; 
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 120px;
	&:hover {
		color: black; 
		i {
			color: black;
		}
	}
}

.home-project-header-top a.link p {
	text-decoration: underline;
}

.home-project-header-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 22px; 
	font-weight: 300; 
}

.home-project-header-bottom-pypi {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;
	text-align: left;
}

.home-project-content-header {
	margin-bottom: 10px;
	font-size: 16px;  
}

/////////////// FIRST BLOCK /////////////////////////////////////

.home-project-links {
	margin-top: 0; 
	height: 27px;
	color: $base-color;
	font-size: 22px; 
	padding-top: 28px;  
}

.home-project-links-div-sizer {
	width: 100%;
	margin: 0 auto;
	font-weight: 300;
	
}

.home-project-links a.link {
	text-decoration: underline; 
}

.home-project-links-div i.fa {
	margin-right: 6px; 
	&:hover ~ a {
		color: black;
	}
}

.home-project-links-div:hover {
	color: black; 
	a {
		color: black;
	}
}

.home-project-links-div:last-of-type {
	margin-right: 40px; 
}

/////////////// SECOND BLOCK /////////////////////////////////////
.home-project-header-bottom-downloads {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: 20px; 
}

.home-project-header-bottom-downloads h5 {
	margin-left: 10px; 
}

.home-project-content-pypi {
	margin-top: 20px; 
}

/////////////// THIRD BLOCK /////////////////////////////////////

.home-project-content-div-gh {
	text-align: left;
}

/////////////////////////////////////////////////////////////
// SHOW DETAILS
/////////////////////////////////////////////////////////////

.gray-line {
	height: 2px;
	width: 100%;
	background: $light-gray; 
	margin: 26px auto;; 
}

.names-details-checkbox {
	visibility: hidden;
	position: absolute;
}

.home-project-basic-info-plus {
	cursor: pointer;
}

.names-details-checkbox:checked ~ .home-project-details-div {
	opacity: 1;
	height: 100%;
	// margin-top: 80px;
	// transition: visibility 1s, height 1s, z-index .01s ease-in 1s;
}

.more-info-input {
	visibility: hidden;
	position: absolute;
}

.gh-checkbox {
	visibility: hidden;
	position: absolute;
}

.gh-checkbox:checked ~ .home-project-content-gh {
	display: block;
}

// #more-info-pypi:checked ~ .home-project-content {
// 	display: block;
// }

// #more-info-github:checked ~ .home-project-content {
// 	display: block;
// }



















