/*************************************************************
***** GENERAL *********
*************************************************************/

.home-project-li {
	width: 90%;
	background: lightgray; 
	margin: 20px 0;
}

.home-project-details-div {
	padding: .4em;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.home-project-basic-info-right {
	width: 50%;
}

.project-links-div {
	display: flex;
	flex-direction: row;
	justify-content: flex-left;
	flex-wrap: wrap;
}

.projectname-user-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}

.project-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.home-project-content-p {
	font-size: .6em;
}

.home-project-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.home-project-github {
	 
}

.more-info-label {
	float: right;
}

.more-info-input {
	visibility: hidden
}

/******************** comment *******************************/

























