@media screen and (max-width: 626px) {
	
/////////////////////////////////////////////////////////////
// HEADER
/////////////////////////////////////////////////////////////

.nav-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 100px;
	width: 120px;
}

#header-checkbox:checked ~ .nav-right a {
	display: none;
}

#header-checkbox:checked ~ .nav-right {
	width: 120px;
}

.nav-search-bar input {
	visibility: visible;
	width: 120px;
}

/////////////////////////////////////////////////////////////
// DEFAULTS
/////////////////////////////////////////////////////////////

.root-content {
	margin-top: -140px; 
}












/////////////// COMMENT /////////////////////////////////////








































}







