@media screen and (max-width: 751px) {
	
/////////////////////////////////////////////////////////////
// HEADER
/////////////////////////////////////////////////////////////

.nav-right {
	width: 250px;
}

#header-checkbox:checked ~ .nav-right a {
	display: none;
}

#header-checkbox:checked ~ .nav-right {
	width: 120px;
}
















/////////////// COMMENT /////////////////////////////////////








































}







