@media screen and (max-width: 321px) {

/////////////////////////////////////////////////////////////
// HOME
/////////////////////////////////////////////////////////////

.home-project-basic-info-right {
	width: 100px;
}

.home-project-content-div {
	width: 100%;
}

.home-project-content-div-gh:nth-child(2) {
	// .home-project-content-header {
		margin-bottom: 10px; 
	// }
}

/////////////// COMMENT /////////////////////////////////////

}