<div class="project group-container container-width">



	<div class="project-links-div">
		<a href="#/home">home ></a>
		<a href="#/home/categories">
			<p>category ></p>
		</a>
		<p>{{vm.group.name}}</p>
	</div>



	<div class="project-header">
		<div class="projectname-user-div">
			<h1>{{vm.group.name}}</h1>
		</div>
		<div class="home-project-basic-info-right flex-row">
<!-- 			<div class="home-project-basic-info-icon group-page-icon home-project-basic-info-icon-gh home-project-basic-info-like"><i ng-click="vm.like()" ng-class="{ 'fa-heart' : vm.likedHeart }" class="fa fa-heart-o"></i>##</div>
			<div class="home-project-basic-info-icon group-page-icon home-project-basic-info-icon-gh home-project-basic-info-comment"><i class="fa fa-comment-o"></i>##</div> -->
			<div class="home-project-basic-info-icon group-page-icon home-project-basic-info-icon-gh home-project-basic-info-score"><i class="fa fa-line-chart"></i></i>{{vm.group.average_score}}</div>
		</div>		
	</div>

	
	<p class="project-details">{{vm.project.summary}}</p>
	

	<div class="graph"></div>



	<ul>
<!-- 		<li ng-repeat="project in vm.group.projects">{{project.name}}</li> -->
		<li class="home-project-li" dir-paginate="project in vm.group.projects | orderBy:'-score' | itemsPerPage: 5" pagination-id="list">
			<names-details class="name-details"></names-details>
		</li>
	</ul>

	<div class="pagination-div">
<!-- 		<p ng-show="{{vm.group.projects.length}} > 5">5 of {{vm.group.projects.length}}</p>
		<p ng-show="{{vm.group.projects.length}} < 5">{{vm.group.projects.length}} of {{vm.group.projects.length}}</p> -->
		<dir-pagination-controls pagination-id="list"></dir-pagination-controls>
	</div>





<!-- 	<div class="project-info">
		<div class="project-details-div">
			<div class="home-project-details home-project-links">
				<div class="flex-row home-project-links-div-sizer">
					<div class="home-project-links-div">
						<i class="fa fa-link"></i>
						<a class="link" href="{{vm.project.website}}">Website</a>
					</div>
					<div class="home-project-links-div">
						<i class="fa fa-file-o"></i>
						<a class="link" href="{{vm.project.docs_url}}">PyDocs</a>
					</div>
					<div class="home-project-links-div">
						<i class="fa fa-code"></i>
						<a class="link" href="{{vm.project.github_url}}">Source Code</a>
					</div>
					<div class="home-project-links-div">
						<i class="fa fa-envelope-o"></i>
						<a class="link" href="{{vm.project.mailing_list_url}}">Mailing List</a>
					</div>
				</div>
			</div>
			<div class="home-project-details home-project-pypi">
				<div class="home-project-pypi-header-div">	
					<div class="home-project-header-top">
						<h3>PyPi</h3>
						<a class="link" href="{{vm.project.pypi_url}}"><i class="fa fa-code"></i><p>pypi name</p></a>
					</div>
					<div class="home-project-header-bottom home-project-header-bottom-pypi">
						<h5>Version <b>{{vm.project.current_version}}</b> Released on date</h5>
						<div class="home-project-header-bottom-downloads">
							<i class="fa fa-download"></i>
							<h5>{{vm.project.downloads_count}} Downloads</h5>
						</div>
					</div>
				</div>
				<div class="home-project-content home-project-content-pypi">
					<h6 class="home-project-content-header"><b>##</b> Release(s)</h6>
					<h6 class="home-project-content-header"><b>1st</b> Release on date</h6>
					<h6 class="home-project-content-header"><b>##</b> Depending Projects</h6>
				</div>
			</div>
			<div class="home-project-details home-project-github">
				<div class="home-project-github-header-div">
					<div class="home-project-header-top">
						<h3>GitHub</h3>
						
						<a class="link" href="{{vm.project.github_url}}"><i class="fa fa-github"></i><p>gh repo</p></a>
					</div>
					<div class="home-project-header-bottom">
						<h5>{{vm.project.forks_count}} Forks</h5>
						<h5>{{vm.project.open_issues_count}} Issues</h5>
						<label ng-click="vm.ghInfo()" class="more-info-label" for="more-info-github">VIEW MORE <i ng-class="{ 'fa-angle-up': vm.ghMoreInfo, 'fa-angle-down': !vm.ghMoreInfo}" class="fa"></i></label>					
					</div>
				</div>
				<div ng-show="vm.ghMoreInfo" class="home-project-content">
					<section class="gray-line"></section>
					<div class="home-project-content-sizer">
						<div class="home-project-content-div">
							<h6 class="home-project-content-header"><b>{{vm.project.watchers_count}}</b> Watchers</h6>
							<h6 class="home-project-content-header"><b>High</b> Developer Activity</h6>
							<h6 class="home-project-content-header"><b>{{vm.project.contributors_count}}</b> Contributors</h6>
						</div>
						<div class="home-project-content-div home-project-content-div-gh">
							<h6 class="home-project-content-header">Last commit:</h6>
							<p class="home-project-content-p">{{vm.project.last_commit}}</p>
						</div>
						<div class="home-project-content-div home-project-content-div-gh">
							<h6 class="home-project-content-header">First commit:</h6>
							<p class="home-project-content-p">{{vm.project.first_commit}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</div>