<div ng-controller="NavCtrl as nav" class="nav-div">
<!-- 	<a class="header" ng-class="{active: vm.isActive('/main') || vm.isActive('/')}" href="#/main">Home</a> -->
    <a href="../index.html">Home</a>
	<div>
		<!-- <a class="header-left header-users-button" ng-class="{active: vm.isActive('/register')}" ng-href="#/register">submit</a> -->
		<a href="../submit/submit.html">submit</a>
		<div>
			<a href="../account/account.html">account</a>
			<!-- <a ng-controller="LoginCtrl as login" ng-show"true" ng-class="{active: vm.isActive('/login')}" ng-click="login.showTrue()">Login</a> -->
			<a href="">login</a>
	<!-- 		<p class="logged-in-user" ng-show="true">{{</p> -->
		</div>
		<div>search</div>
	</div>
</div>
<!-- <a class="header-left header-login-button" ng-if="!vm.currentUser" href="/auth/github">Login</a> -->