<div class="footer-div">
    <a href="https://betti.co/#/"><div class="donate-button">DONATE</div></a>
    <div class="footer-links flex-row">
        <a ng-click="vm.setPage()" href="#/about">About</a>
        <a ng-click="vm.setPage()" href="#/contact">Contact</a>
        <a ng-click="vm.setPage()" href="#/projectindex">Project Index</a>
        <a class="footer-links-github" href="https://github.com/Python-toolshed/python-toolshed">
            <i class="fa fa-github-square"></i>
            <p>GitHub</p>
        </a>
    </div>
</div>
