<form ng-submit="vm.postEdit()" class="account-links-edit">
	<h2>{{vm.user.github_name}}</h2>
<!-- 	<div class="edit-img-div">
		<img class="chosen-avatar" src="#" alt="">
		<input class="file-maker" type="file">
		<a class="file-link" onclick="document.querySelector('.file-maker').click(); return false">Choose from files</a>
	</div> -->
	<div class="account-links-div">
		<div class="account-info-links">
			<i class="fa fa-linkedin-square"></i>
			<input ng-model="vm.accountUrls.linkedin_url" type="url">
		</div>
		<div class="account-info-links">
			<i class="fa fa-rss-square"></i>
			<input ng-model="vm.accountUrls.portfolio_url" type="url">
		</div>
	</div>
	<input class="submit-button" type="submit" value="Submit">
</form>

<!-- <div>
	<div>
		<h4>GitHub Forks</h4>
		<h5>##</h5>
	</div>
	<div>
		<h4>Submitted Resources</h4>
		<h5>##</h5>
	</div>

</div> -->