<!-- 	<a class="header" ng-class="{active: vm.isActive('/main') || vm.isActive('/')}" href="#/main">Home</a> -->
<a ng-click="vm.toProject()" class="nav-home-a" href="#/home">Home</a>
<div class="flex-row">
	<!-- <a class="header-left header-users-button" ng-class="{active: vm.isActive('/register')}" ng-href="#/register">submit</a> -->
	<a href="#/submit">submit</a>
	<div class="nav-account">
		<a href="#/account">account</a>
		<!-- <a ng-controller="LoginCtrl as login" ng-show"true" ng-class="{active: vm.isActive('/login')}" ng-click="login.showTrue()">Login</a> -->
		<a class="nav-login-a" href="">login</a>
<!-- 		<p class="logged-in-user" ng-show="true">{{</p> -->
	</div>
	<input type="search" id="nav-search" placeholder="search projects">
	<i class="fa fa-search"></i>
</div>