<!-- 	<a class="header" ng-class="{active: vm.isActive('/main') || vm.isActive('/')}" href="#/main">Home</a> -->
<div class="nav-logo">
	<a ng-click="vm.toProject()" class="nav-home-a" href="#/home/projects">
		<img class="nav-logo-img" src="static/img/logo-1.png" alt="">
		<h2>PYTHON CLUTCH</h2>
	</a>
</div>

<div class="nav-right">
	<!-- <a class="header-left header-users-button" ng-class="{active: vm.isActive('/register')}" ng-href="#/register">submit</a> -->
	<div class="nav-account">
		<a href="#/account/info">My Account</a>
		<!-- <a ng-controller="LoginCtrl as login" ng-show"true" ng-class="{active: vm.isActive('/login')}" ng-click="login.showTrue()">Login</a> -->
		<a class="nav-login-a" href="">login</a>
<!-- 		<p class="logged-in-user" ng-show="true">{{</p> -->
	</div>
	<a href="#/submit/new">Submit Project</a>
	<div class="nav-search-bar">
		<input type="search" id="nav-search" placeholder="Search">
		<i class="fa fa-search"></i>
	</div>
</div>